pytest~=4.6.11
mock~=3.0.5
sqlalchemy-utils~=0.36.5
pre-commit~=1.21.0

# python2 requirements
cfgv~=2.0.1
more-itertools<6

cdispyutils~=0.2.11
cdislogging~=0.0.2
doiclient~=1.0
dosclient~=1.0
indexd~=2.3.0
