-c requirements.txt

markupsafe~=1.1.1       # newer version not compatible
pre-commit~=1.21.0
pytest~=4.6.11
sqlalchemy~=1.3.0
sqlalchemy-utils>=0.32,<0.36.4

git+https://github.com/NCI-GDC/indexd.git@2.9.0-rc.1#egg=indexd
cdislogging==1.0.0
